div, img {
	-webkit-user-select: none;
	user-select: none;
}

body {
	margin: 0px;
	max-width: 360px;
	overflow-x: hidden;
	font: 12px 'Noto Sans' ,'lucida grande', helvetica, arial, sans-serif;
}

#main {
	width: 360px;
}

#search {
	display: block;
	width: 344px;
	height: 16px;
	border: 1px solid #abc;
	margin: 3px;
	padding: 4px;
	position: sticky;
	top: 0px;
}

#search:focus {
	outline: 2px solid #adf;
	-webkit-box-shadow: 0 0 3px #adf;
	box-shadow: 0 0 3px #adf;
}

.item {
	width: 358px;
	clear: both;
	padding-top: 3px;
	padding-bottom: 3px;
	cursor: pointer;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 2px;
	-webkit-transition: .2s ease-out;
	-webkit-transition-property: background-color, border-color;
	transition: .2s ease-out;
	transition-property: background-color, border-color;
}

.item:hover, .item:focus {
	background: #ddd;
	border-color: #ddd;
	outline: 0;
}

.item:active {
	border-color: #69f;
}

.selected {
	background: rgba(0, 127, 255, 0.9) !important;
	border-color: rgba(0, 127, 255, 0.9) !important;
	color: #fff !important;
}

.selected:hover, .selected:focus {
	background: #06f !important;
	border-color: #06f !important;
}

.item * {
	display: inline-block;
	vertical-align: middle;
}

.group {
	width: 4px;
	height: 16px;
	padding: 0px;
	margin: 0px;
	background-color: transparent;
}

img {
	width: 16px;
	height: 16px;
	margin: 0 5px;
}

.title {
	width: 328px;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.close {
	text-align: center;
	vertical-align: baseline;
	width: 12px;
	font: bold 12px verdana, sans-serif;
	padding-top: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 1px;
	display: none;
	border-radius: 12px;
}

.item .close {
	color: #567;
}

.item .close:hover {
	color: #000;
	background-color: #06f;
}

.selected .title {
	font-weight: bold;
}

.selected .close {
	color: #def;
}

.selected .close:hover {
	color: #06f;
	background-color: #fff
}

.item:hover .title {
	width: 310px;
}
.item:hover .close {
	display: initial;
}

.overflow .item {
	width: 356px;
}

.overflow .title {
	width: 326px;
}

.overflow .item:hover .title {
	width: 308px;
}